<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info rounded">
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/orders/add">Add Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/logout">Logout</a>
      </li>
    </ul>
    <img width="50px" src="/images/coffee.png" alt="Coffee image">
  </div>
</nav>