<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Coffee Shop Application</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body class="bg-secondary">
<header>
    <div th:replace="/fragments/navbar"></div>
</header>
<main role="main" class="bg-secondary">

    <div class="jumbotron text-center">
        <div class="container text-light text-center">
            <h1 class="display-3"><strong class="bg-blur rounded">All active</strong></h1>
            <h1 class="display-3"><strong class="bg-blur rounded">Orders</strong></h1>
        </div>
        <div class="row mt-3 mb-3 ">
            <div class="col-5 bg-blur rounded m-auto pb-3">
                <h3 class="mySticky bg-gray text-light rounded">Тime to prepare all orders(in min): <span th:text="${totalTime}"> </span></h3>
                <div th:each="o : ${orders}" th:object="${o}" class="mt-3 rounded badge-info p-3">
                    <img class="mr-2" th:src="'/images/' + *{category.name.name().toLowerCase()} +  '.png'" alt="Cake"
                         width="50px" height="50px">
                    <span th:text="*{name}" class="p-3">Name</span>
                    <span th:text="*{price}" class="p-3">Price</span>
                    <a class="ml-3 p-3 text-warning" th:href="@{/orders/ready/{id}(id = *{id})}">Ready</a>
                </div>
            </div>
            <div class="col-5 bg-blur rounded m-auto pb-3">
                <h3 class="mySticky bg-gray text-light rounded">Orders by employee</h3>
                <div th:each="e : ${users}"  th:object="${e}" class="mt-3 rounded badge-info p-3">
                    <img class="mr-2" src="/images/employee.png" alt="Employee"
                         width="50px" height="50px">
                    <span th:text="| Employee - *{username} |" class="p-3"></span>
                    <span  th:text="|Number of orders: *{ordersCount}|" class="p-3"></span>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="container">
    <p>&copy;SoftUni Spring Team 2021. All rights reserved.</p>
</footer>
</body>
</html>