<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Coffee Shop Application</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body class="bg-secondary">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info rounded">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Add Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Logout</a>
                </li>
            </ul>
            <img width="50px" src="/images/coffee.png" alt="Coffee image">
        </div>
    </nav>
</header>
<main role="main" class="bg-secondary">
    <div class="jumbotron">
        <div class="container text-light ">
            <h1 class="display-3 ">
                <strong class="bg-blur rounded border-left border-white pl-3 border-bottom">
                    Register</strong></h1>
        </div>
        <div class="container bg-blur rounded p-5 mt-5 w-75">
            <form action="/" method=""
                  class=" text-center text-light">
                <div class="form-group row">
                    <label for="username" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="username"
                               aria-describedby="usernameHelpInline" placeholder="Username">
                        <small id="usernameHelpInline" class="bg-danger text-light rounded">
                            Username length must be between 5 and 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="firstName" class="col-sm-2 col-form-label">First name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="firstName"
                               aria-describedby="firstNameHelpInline" placeholder="First name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lastName" class="col-sm-2 col-form-label">Last name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastName"
                               aria-describedby="lastNameHelpInline" placeholder="Last name">
                        <small id="lastNameHelpInline" class="bg-danger text-light rounded">
                            Last name length must be between 5 and 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="email"
                               aria-describedby="emailHelpInline" placeholder="email@example.com">
                        <small id="emailHelpInline" class="bg-danger text-light rounded">
                            Enter valid email address.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password"
                               aria-describedby="passwordHelpInline" placeholder="Password">
                        <small id="passwordHelpInline" class="bg-danger text-light rounded">
                            Password length must be more than 3 characters long.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="confirmPassword"
                               aria-describedby="confirmPasswordHelpInline" placeholder="Confirm Password">
                        <small id="confirmPasswordHelpInline" class="bg-danger text-light rounded">
                            Password length must be more than 3 characters long.
                        </small>
                    </div>
                </div>
                <button type="submit" class="btn btn-info w-50">Register</button>
            </form>
            <hr class="bg-light">
        </div>
    </div>
</main>
<footer class="container">
    <p>&copy;SoftUni Spring Team 2021. All rights reserved.</p>
</footer>
</body>
</html>